$beige: #f8f5f2;
$blue: #06b;
$blue-light: mix(#fff, $blue);
$charcoal: #202326;
$white: #fff;

$shade: #0002;
$shade-weak: #0001;
$shine: #fff1;

$body-color: $charcoal;
$body-color-muted: #{lighten($charcoal, 40)};
$border-color: $shade-weak;
$link-color: light-dark($blue, lighten($blue, 15));
$link-hover-bg: rgba($blue, .1);
$link-hover-color: light-dark(darken($blue, 5), lighten($blue, 20));
$button-bg: $link-color;
$button-color: light-dark($white, $charcoal);
$button-hover-bg: $link-hover-color;

$br: 2px; // border radius
$font-size: 20px;
$font-size-mobile: 16px;
$font-size-small: .75em;

$td: .2s; // transition duration

$drop-shadow: 0 0 .5rem $shade;

$small: '(min-width: 720px)'; // for @media
$large: '(min-width: 1080px)'; // for @media
