$beige: #f8f5f2;
$blue: #06b;
$blue-light: mix(#fff, $blue);
$charcoal: #202326;
$white: #fff;

$shade: #0003;
$shade-weak: #0001;
$shine: #fff2;

:root {
  --link-color: #{$blue};
  --link-hover-color: #{darken($blue, 5)};
  --button-bg: #{$blue};
  --button-hover-bg: #{darken($blue, 5)};
}

.dark {
  --link-color: #{lighten($blue, 15)};
  --link-hover-color: #{lighten($blue, 20)};
  --button-hover-bg: #{lighten($blue, 5)};
}

$body-color: $charcoal;
$body-color-muted: #{lighten($charcoal, 40)};
$border-color: $shade-weak;
$link-color: var(--link-color);
$link-hover-bg: rgba($blue, .1);
$link-hover-color: var(--link-hover-color);
$button-bg: var(--button-bg);
$button-hover-bg: var(--button-hover-bg);

$br: 2px; // border radius
$font-size: 20px;
$font-size-mobile: 16px;
$font-size-small: .75em;

$td: .2s; // transition duration

$drop-shadow: 0 0 .5rem $shade;

$small: '(min-width: 720px)'; // for @media
$large: '(min-width: 1080px)'; // for @media
$dark: '(prefers-color-scheme: dark)'; // for @media
