.button {
  background: $button-bg;
  border-radius: $br;
  color: $white;
  cursor: pointer;
  display: inline-block;
  border: 0;
  filter: none;
  font-size: .5rem;
  font-weight: bold;
  padding: .25rem 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background $td, color $td, filter $td;

  &:disabled {
    opacity: .5;
  }

  &:active,
  &:focus,
  &:hover {
    background: $button-hover-bg;
    color: $white;
    transition-duration: 0s;
  }

  &.-outline {
    background: none;
    box-shadow: 0 0 0 2px inset;
    color: $link-color;

    &:active,
    &:focus,
    &:hover {
      background: $link-hover-bg;
      color: $link-hover-color;

      .dark & {
        background: rgba(invert($body-color), .1);
      }
    }
  }
}

.button-group {
  margin: -.25rem -.25rem .25rem;

  > .button {
    font-weight: normal;
    letter-spacing: 0;
    margin: .25rem;
    padding: .25rem .5rem;
    text-transform: none;
  }
}

.center {
  justify-content: center;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 32rem;

  &.-wide {
    width: 44rem;
  }
}

.frame {
  border-radius: $br;
  box-shadow: $drop-shadow, 0 0 0 1px $border-color;
  margin: 0 auto 1rem;
  max-height: 75vh;
  max-width: calc(100vw - 1rem);
  min-height: 15.75rem; // space for TIFY's fully populated popup menu
  overflow: hidden;
  position: relative;

  @media (orientation: portrait) {
    max-height: calc(100vw - 1rem + 48px); // 48px = TIFY header height
  }

  .dark & {
    box-shadow: $drop-shadow, 0 0 0 1px #fff2;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.highlight {
  background: $white;
  box-shadow: 0 0 0 1px $border-color;
  margin: 0 -.5rem 1rem;
  padding: 1rem .5rem .5rem;

  @media #{$large} {
    border-radius: $br;
    margin: 0 0 1.5rem;
    padding: 1rem 1rem .5rem;
  }

  .dark & {
    background: $body-color;
    color: invert($body-color);
  }

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.image-link {
  border: 0;
  display: inline-block;
  margin: -.25rem;
  padding: .25rem;

  > img {
    display: block;
  }
}

.arrow-list {
  list-style: none;
  padding: 0;

  li {
    background: url('/img/chevron-right.svg') top left no-repeat;
    background-size: 1rem;
    padding-left: 1rem;
    margin: 0;
  }
}

.icon {
  height: 24px;
  vertical-align: top;
  width: 24px;

  path {
    fill: currentColor;
  }
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -.25rem -.25rem .25rem;
  padding: 0;

  > li {
    margin: .25rem;
  }
}

.lg-right {
  @media #{$large} {
    justify-content: flex-end;
    text-align: right;
  }
}

.row {
  @media #{$large} {
    display: flex;
    margin: -.5rem;

    &:not(:last-child) {
      margin-bottom: .5rem + 1rem;
    }
  }

  .col {
    flex: 1;
    min-width: 0;

    @media #{$large} {
      margin: .5rem;
    }

    &.-collapsed {
      flex: 0 1 auto;
    }
  }
}

.separator {
  margin: 0 .25em;
}

.small {
  font-size: $font-size-small;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wide {
  left: 50%;
  max-width: calc(100vw - 1rem);
  position: relative;
  transform: translate(-50%);
  width: 44rem;

  @media #{$large} {
    max-width: calc(100vw - 2rem);
  }
}
